<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= student.name %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1><%= student.name %></h1>
  <p><strong>Роль:</strong> <%= student.role %></p>
  <p><strong>Група:</strong> <%= student.group %></p>
  <p><strong>Хобі:</strong> <%= student.hobby %></p>

  <p><a href="/">Назад до списку команди</a></p>
</body>
</html>
